@model PokerStatBoard.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<style>
    .bg-custom-1 {
        background-color: rgba(225, 225, 225, 0.8);
    }
</style>

<main aria-labelledby="title">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card bg-custom-1 border-0 rounded-4" style="width: 50vh;">
            <div class="card-body">
                <h2 class="card-title text-center" id="title">@ViewBag.Title:</h2>
                <hr />
                @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="row justify-content-center align-items-center">
                        <div class="col-auto">
                            @Html.LabelFor(m => m.Email, new { @class = "col-form-label" })
                        </div>
                    </div>
                    <div class="mb-3 row justify-content-center align-items-center">
                        <div class="col-auto">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <div class="col-auto">
                            @Html.LabelFor(m => m.Password, new { @class = "col-form-label" })
                        </div>
                    </div>
                    <div class="mb-3 row justify-content-center align-items-center">
                        <div class="col-auto">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <div class="col-auto">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-form-label" })
                        </div>
                    </div>
                    <div class="mb-3 row justify-content-center align-items-center">
                        <div class="col-auto">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="mb-3 row justify-content-center">
                        <div class="col-sm-8 text-center">
                            <input type="submit" value="Register" class="btn btn-outline-dark" />
                        </div>
                    </div>
                }
            </div>
            <div class="text-center mt-auto">
                <img src="~/Images/extended_logo.png" class="mb-3" style="width: 300px; max-width: 80vw;" />
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
