@model List<PokerStatBoard.Models.ApplicationUser>

@{
    ViewBag.Title = "View users";
}

<main aria-labelledby="title">
    <style>
        .main-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
        }

        .guide {
            color: #ededed;
            padding: 10px;
            margin-bottom: 20px;
            width: 80%;
            max-width: 1200px;
            text-align: center;
        }

        .form-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 1200px;
            width: 100%;
        }

        .user {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            margin: 10px;
            width: 350px;
        }

        .field {
            background-color: lightblue;
            width: 60px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            margin-left: 10px;
            border: none;
        }

        .button-container {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .button {
            height: 40px;
            width: 160px;
            border: transparent;
            cursor: pointer;
        }

            .button:hover {
                background-color: #ededed;
            }
    </style>

    <div class="main-container">
        <div class="guide glass-0 box-shadow">
            0- = view access, 1 = edit access, 2+ = admin access
        </div>
        <form action="@Url.Action("UpdateAccessLevels", "ViewUsers")" method="post">
            @Html.AntiForgeryToken()
            <div class="form-container">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="user glass-1 box-shadow">
                        <span>@Model[i].UserName</span>
                        <input class="field" type="text" name="users[@i].accessLevel" value="@Model[i].accessLevel" />
                        <input type="hidden" name="users[@i].Id" value="@Model[i].Id" />
                    </div>
                }
            </div>
            <div class="button-container">
                <button class="button glass-3 box-shadow" type="submit">Save Changes</button>
            </div>
        </form>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}