@model PokerStatBoard.Models.IndexViewModel
@{
    ViewBag.Title = "Manage Account";
}

<style>
    .bg-custom-1 {
        background-color: rgba(225, 225, 225, 0.8);
    }
</style>

<main aria-labelledby="title">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card bg-custom-1 border-0 rounded-4" style="width: 50vh;">
            <div class="card-body">
                <h2 class="card-title text-center" id="title">@ViewBag.Title:</h2>
                <hr />
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="row justify-content-center align-items-center">
                        <div class="col-auto">
                            <h4>Email</h4>
                        </div>
                    </div>
                    <div class="mb-3 row justify-content-center align-items-center">
                        <div class="col-auto">
                            @User.Identity.Name
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center">
                        <div class="col-auto">
                            <h4>Password</h4>
                        </div>
                    </div>
                    <div class="mb-3 row justify-content-center align-items-center">
                        <div class="col-auto">
                            @Html.ActionLink("Change your password", "ChangePassword") - requires email confirmation
                        </div>
                    </div>
                }
            </div>
            <div class="text-center mt-auto">
                <img src="~/Images/extended_logo.png" class="mb-3" style="width: 300px; max-width: 80vw;" />
            </div>
        </div>
    </div>
</main>