@{
        ViewBag.Title = "Game";
}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body onload="stopWatch()">
    <main class="container-fluid mt-5">
        <script>
            function addPlayerRedirect() {
                var url = '@Url.Action("Index", "AddPlayer")';
                window.location.href = url;
            }
            function joinPlayerRedirect() {
                var url = '@Url.Action("Index", "JoinPlayer")';
                window.location.href = url;
            }
            function cashOutPlayerRedirect() {
                var url = '@Url.Action("Index", "CashOutPlayer")';
                window.location.href = url;
            }
            function endGameRedirect() {
                var url = '@Url.Action("Index", "EndGame")';
                window.location.href = url;
            }
            let hour = @((DateTime.Now - PokerStatBoard.Logic.GeneralLogic.getCurrentGame().StartDateTime).Hours);
            let minute = @((DateTime.Now - PokerStatBoard.Logic.GeneralLogic.getCurrentGame().StartDateTime).Minutes);
            let second = @((DateTime.Now - PokerStatBoard.Logic.GeneralLogic.getCurrentGame().StartDateTime).Seconds);
            function stopWatch() {
                second++;
                if (second == 60) {
                    minute += 1;
                    second = 0;
                    setTimeout(location.reload(), 2000);
                }
                let hrString = hour;
                let minString = minute;
                let secString = second;
                if (hour < 10) {
                    hrString = "0" + hrString;
                }
                if (minute < 10) {
                    minString = "0" + minString;
                }
                if (second < 10) {
                    secString = "0" + secString;
                }
                document.getElementById('hr').innerHTML = hrString;
                document.getElementById('min').innerHTML = minString;
                document.getElementById('sec').innerHTML = secString;
                setTimeout(stopWatch, 1000);
            }
        </script>

        <style>
            .bg-custom-1 {
                background-color: rgba(225, 225, 225, 0.8);
            }

            .bg-custom-2 {
                background-color: rgb(80, 80, 80);
            }
        </style>

        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card bg-transparent border-0" style="height: 80vh;">
                    <div class="card bg-custom-1 rounded-4 overflow-hidden" style="height: 49%;">
                        <div class="card-header fs-5 text-center bg-dark text-light fw-semibold">
                            Buy-Ins
                        </div>
                        <div class="card-body p-0">
                            <table class="table table-striped bg-transparent table-borderless table-hover">
                                <tbody>
                                    @if (PokerStatBoard.Logic.GeneralLogic.getCurrentBuyIns().Count == 0)
                                    {
                                        <tr>
                                            <td class="text-center">none yet</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (PokerStatBoard.Models.BuyInModel buyIn in PokerStatBoard.Logic.GeneralLogic.getCurrentBuyIns())
                                        {
                                            <tr>
                                                <td class="text-start fs-5">@((buyIn.DateTime - PokerStatBoard.Logic.GeneralLogic.getCurrentGame().StartDateTime).ToString().Split('.')[0])</td>
                                                <td class="text-start fs-5">@PokerStatBoard.Logic.GeneralLogic.getPlayer(buyIn.PlayerID).Name</td>
                                                <td class="text-end fs-5">$@buyIn.Amount</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card mt-auto bg-custom-1 rounded-4 overflow-hidden" style="height: 49%;">
                        <div class="card-header fs-5 text-center bg-dark text-light fw-semibold">
                            Cash-Outs
                        </div>
                        <div class="card-body p-0">
                            <table class="table table-striped bg-transparent table-borderless table-hover">
                                <tbody>
                                    @if (PokerStatBoard.Logic.GeneralLogic.getCurrentCashOuts().Count == 0)
                                    {
                                        <tr>
                                            <td class="text-center">none yet</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (PokerStatBoard.Models.CashOutModel cashOut in PokerStatBoard.Logic.GeneralLogic.getCurrentCashOuts())
                                        {
                                            <tr>
                                                <td class="text-start fs-5">@((cashOut.DateTime - PokerStatBoard.Logic.GeneralLogic.getCurrentGame().StartDateTime).ToString().Split('.')[0])</td>
                                                <td class="text-start fs-5">@PokerStatBoard.Logic.GeneralLogic.getPlayer(cashOut.PlayerID).Name</td>
                                                <td class="text-end fs-5">$@cashOut.Amount</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 text-center">
                <div class="card bg-custom-1 rounded-4 overflow-hidden d-flex flex-column" style="height: 80vh;">
                    <div class="card-header fs-3 text-center bg-dark text-light fw-semibold mb-4">
                        AP3 Poker Live
                    </div>
                    <div class="d-flex flex-column justify-content-around align-items-center flex-grow-1">
                        <div class="row w-100 mb-2">
                            <div class="fs-4 col-12">Game Clock</div>
                            <div class="fs-2 col-12" id="time">
                                <span id="hr">00</span>:<span id="min">00</span>:<span id="sec">00</span>
                            </div>
                        </div>
                        <div class="w-100" style="height: 4px; background-color: #2d2d2d"></div>
                        <div class="row w-100 mt-2 mb-2">
                            <div class="fs-4 col-12">On Table</div>
                            <div class="fs-2 col-12">$@(Math.Round(PokerStatBoard.Logic.GeneralLogic.getAmountOnTable(), 2))</div>
                        </div>
                        <div class="w-100" style="height: 4px; background-color: #2d2d2d"></div>
                        <div class="row w-100 mt-2 mb-2">
                            <div class="fs-4 col-12">Avg. Stack</div>
                            <div class="fs-2 col-12">$@(Math.Round(PokerStatBoard.Logic.GeneralLogic.getAmountOnTable() / (PokerStatBoard.Logic.GeneralLogic.getCurrentPlayers().Count == 0 ? 1 : PokerStatBoard.Logic.GeneralLogic.getCurrentPlayers().Count), 2))</div>
                        </div>
                        <div class="w-100" style="height: 4px; background-color: #2d2d2d"></div>
                        <div class="row w-100 mt-2 mb-2">
                            <div class="fs-4 col-12">Blinds</div>
                            <div class="fs-2 col-12">$0.10 / $0.20</div>
                        </div>
                        <div class="row w-100 mt-2 mb-2">
                            <img src="~/Images/extended_logo.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card bg-transparent border-0" style="height: 80vh;">
                    <div class="card bg-custom-1 rounded-4 overflow-hidden" style="height: 77%;">
                        <div class="card-header fs-5 text-center bg-dark text-light fw-semibold">
                            At Table
                        </div>
                        <div class="card-body p-0">
                            <table class="table table-striped bg-transparent table-borderless table-hover">
                                <tbody>
                                    @if (PokerStatBoard.Logic.GeneralLogic.getCurrentPlayers().Count == 0)
                                    {
                                        <tr>
                                            <td class="text-center">no one</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (PokerStatBoard.Models.PlayerModel player in PokerStatBoard.Logic.GeneralLogic.getCurrentPlayers())
                                        {
                                            <tr>
                                                <td class="text-start fs-5">@player.Name</td>
                                                <td class="text-end fs-5">in for $@PokerStatBoard.Logic.GeneralLogic.getCurrentIn(player)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card bg-custom-1 rounded-4 mt-auto d-flex overflow-hidden position-relative" style="height: 21%; min-height: 140px;">
                        <div class="container h-100">
                            <div class="row h-50">
                                <div class="col-6 d-flex align-items-center justify-content-center">
                                    <button class="btn btn-outline-dark w-100 h-75 mt-2 rounded-4 fw-semibold" style="border-width: 4px; font-size: 0.75rem;" onclick="joinPlayerRedirect()">Buy In Player</button>
                                </div>
                                <div class="col-6 d-flex align-items-center justify-content-center">
                                    <button class="btn btn-outline-dark w-100 h-75 mt-2 rounded-4 fw-semibold" style="border-width: 4px; font-size: 0.75rem;" onclick="cashOutPlayerRedirect()">Cash Out Player</button>
                                </div>
                            </div>
                            <div class="row h-50">
                                <div class="col-6 d-flex align-items-center justify-content-center">
                                    <button class="btn btn-outline-dark w-100 h-75 mb-2 rounded-4 fw-semibold" style="border-width: 4px; font-size: 0.75rem;" data-bs-toggle="modal" data-bs-target="#confirmation-2">Add New Player</button>
                                </div>
                                <div class="col-6 d-flex align-items-center justify-content-center">
                                    <button class="btn btn-outline-danger w-100 h-75 mb-2 rounded-4 fw-semibold" style="border-width: 4px; font-size: 0.75rem;" data-bs-toggle="modal" data-bs-target="#confirmation">End Game</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

                <div class="modal fade" id="confirmation">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Are you sure?</h5>
                                <button type="button" class="btn-close" data-bs-target="#confirmation" data-bs-toggle="modal" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <p>If you end the game, your action cannot be undone.</p>
                                <p>Note: The game cannot end until all players have cashed out.</p>
                            </div>
                            <div class="modal-footer">
                                <button id="modal_button" class="btn btn-primary" onclick="endGameRedirect()">Yes</button>
                                <button id="modal_button" class="btn btn-secondary" data-bs-target="#confirmation" data-bs-toggle="modal" data-bs-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="confirmation-2">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Are you sure?</h5>
                                <button type="button" class="btn-close" data-bs-target="#confirmation-2" data-bs-toggle="modal" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <p>Players must be bought in every game, but only added once.</p>
                                <p>Please ensure your player has not already been added.</p>
                                <p>If they appear on the leaderboard, they have been added.</p>
                            </div>
                            <div class="modal-footer">
                                <button id="modal_button" class="btn btn-primary" onclick="addPlayerRedirect()">Yes</button>
                                <button id="modal_button" class="btn btn-secondary" data-bs-target="#confirmation-2" data-bs-toggle="modal" data-bs-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>
</body>
