@{
    ViewBag.Title = "Game";
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<main>
    <script>
        function addPlayerRedirect() {
            var url = '@Url.Action("Index", "AddPlayer")';
            window.location.href = url;
        }
        function joinPlayerRedirect() {
            var url = '@Url.Action("Index", "JoinPlayer")';
            window.location.href = url;
        }
        function cashOutPlayerRedirect() {
            var url = '@Url.Action("Index", "CashOutPlayer")';
            window.location.href = url;
        }
        function endGameRedirect() {
            var url = '@Url.Action("Index", "EndGame")';
            window.location.href = url;
        }
    </script>

    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            background-color: dimgray;
        }

        footer {
            display: none;
        }

        .navbar {
            height: 57px;
            line-height: 57px;
        }

        .body-content {
            height: calc(100vh - 57px);
            display: flex;
            flex-direction: column;
        }

        .container {
            display: flex;
            flex: 1;
            height: 710px;
            width: 2000px;
            min-width: 1000px;
        }

        .left, .center, .right {
            padding: 20px;
            box-sizing: border-box;
            text-align: center;
        }

        .left {
            width: 33%;
            background-color: darkgray;
        }

        .center {
            width: 33%;
            background-color: lightgray;
        }

        .right {
            width: 33%;
            background-color: darkgray;
        }

        .button-container {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        .button {
            height: fit-content;
            width: 45%;
            padding: 3px;
            background-color: mediumpurple;
            text-align: center;
            cursor: pointer;
            user-select: none;
            border-radius: 5px;
            z-index: 9999;
        }

        .button:hover {
            background-color: rebeccapurple;
            color: white;
        }

        .title-card {
            font-size: 2.2rem;
            background-color: rebeccapurple;
            color: white;
            border-radius: 5px;
            height: 100px;
            line-height: 100px;
        }

        .subtitle-card {
            font-size: 1.8rem;
            background-color: lightgray;
            border: 5px solid rebeccapurple;
            border-radius: 5px;
            height: 70px;
            line-height: 60px;
            margin-bottom: 15px;
        }

        .large-display {
            font-size: 2.5rem;
            font-family: monospace;
            background-color: dimgray;
            color: white;
            border-radius: 5px;
            height: 80px;
            line-height: 80px;
        }

        .text-interim {
            font-size: 1.5rem;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        td {
            padding: 8px;
            text-align: center;
            font-size: 1.5rem;
        }
    </style>

    <div class="container">
        <div class="left">
            <div class="subtitle-card">
                Buy-Ins
            </div>
            <table>
                <tbody>
                    @for (int i = 0; i < 5; i++)
                    {
                        <tr>
                            <td style="text-align: left">00:00:00</td>
                            <td style="text-align: left">Player @i</td>
                            <td>$0.00</td>
                        </tr>
                    }
                </tbody>
            </table>
            <br />
            <div class="subtitle-card">
                Cash-Outs
            </div>
            <table>
                <tbody>
                    @for (int i = 0; i < 4; i++)
                    {
                        <tr>
                            <td style="text-align: left">00:00:00</td>
                            <td style="text-align: left">Player @i</td>
                            <td>$0.00</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="center">
            <div class="title-card">
                AP3™ Poker Live
            </div>
            <br />
            <div class="text-interim">
                Game Clock
            </div>
            <div class="large-display">
                01:23:45
            </div>
            <br />
            <div class="text-interim">
                On Table
            </div>
            <div class="large-display">
                $@PokerStatBoard.Logic.GeneralLogic.getAmountOnTable()
            </div>
            <br />
            <div class="text-interim">
                Avg. Stack
            </div>
            <div class="large-display">
                $@(PokerStatBoard.Logic.GeneralLogic.getAmountOnTable() / (PokerStatBoard.Logic.GeneralLogic.getCurrentPlayers().Count == 0 ? 1 : PokerStatBoard.Logic.GeneralLogic.getCurrentPlayers().Count))
            </div>
            <br />
            <div class="button-container">
                <div class="button" onclick="joinPlayerRedirect()">Join Player</div>
                <div class="button" onclick="cashOutPlayerRedirect()">Cash Out Player</div>
            </div>
            <div class="button-container">
                <div class="button" onclick="addPlayerRedirect()">Add New Player</div>
                <div class="button" onclick="endGameRedirect()">End Game</div>
            </div>
        </div>
        <div class="right">
            <div class="subtitle-card">
                At Table / Total In
            </div>
            <table>
                <tbody>
                    @foreach (PokerStatBoard.Models.PlayerModel player in PokerStatBoard.Logic.GeneralLogic.getCurrentPlayers())
                    {
                        <tr style="height:73px">
                            <td style="text-align: left">@player.Name</td>
                            <td>$@PokerStatBoard.Logic.GeneralLogic.getCurrentIn(player)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div></div>
</main>