@model PokerStatBoard.ViewModels.AddPlayerVM
@{
    ViewBag.Title = "Add a new player";
}

<style>
    .bg-custom-1 {
        background-color: rgba(225, 225, 225, 0.8);
    }
</style>

<main aria-labelledby="title">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card bg-custom-1 border-0 rounded-4" style="width: 50vh;">
            <div class="card-body">
                <h2 class="card-title text-center" id="title">@ViewBag.Title</h2>
                <hr />
                @using (Html.BeginForm("SubmitAddPlayerForm", "AddPlayer", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.GroupName)
                    <div class="row justify-content-center align-items-center">
                        <div class="col-auto">
                            @Html.LabelFor(m => m.Name, new { @class = "col-form-label" })
                        </div>
                    </div>
                    <div class="mb-3 row justify-content-center align-items-center">
                        <div class="col-auto">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-8 text-center">
                            <input type="submit" value="Confirm" class="btn btn-outline-dark" />
                        </div>
                    </div>
                }
                <div class="mb-3 row mt-4 justify-content-center">
                    <div class="col-sm-12 text-center">
                        <h4>Once a player has been added, they can join any ongoing game and their statistics will be tracked</h4>
                    </div>
                </div>
            </div>
            <div class="text-center mt-auto">
                <img src="~/Images/extended_logo.png" class="mb-3" style="width: 300px; max-width: 80vw;" />
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
